---
- name: Configure password quality
  lineinfile:
    path: /etc/security/pwquality.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    create: yes
  loop:
    - { regexp: '^minlen', line: 'minlen = 15' }
    - { regexp: '^dcredit', line: 'dcredit = -1' }
    - { regexp: '^ucredit', line: 'ucredit = -1' }
    - { regexp: '^lcredit', line: 'lcredit = -1' }
    - { regexp: '^ocredit', line: 'ocredit = -1' }

- name: Configure password aging
  lineinfile:
    path: /etc/login.defs
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  loop:
    - { regexp: '^PASS_MAX_DAYS', line: 'PASS_MAX_DAYS   60' }
    - { regexp: '^PASS_MIN_DAYS', line: 'PASS_MIN_DAYS   1' }
    - { regexp: '^PASS_WARN_AGE', line: 'PASS_WARN_AGE   7' }

- name: Harden SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    validate: '/usr/sbin/sshd -t -f %s'
  loop:
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin no' }
    - { regexp: '^#?PermitEmptyPasswords', line: 'PermitEmptyPasswords no' }
    - { regexp: '^#?X11Forwarding', line: 'X11Forwarding no' }
    - { regexp: '^#?MaxAuthTries', line: 'MaxAuthTries 3' }
  notify: restart sshd

- name: Create SSH banner
  copy:
    dest: /etc/issue.net
    content: |
      ╔══════════════════════════════════════════════════════╗
      ║          AUTHORIZED ACCESS ONLY                      ║
      ╠══════════════════════════════════════════════════════╣
      ║  This system is for authorized use only.             ║
      ║  All activity is monitored and logged.               ║
      ╚══════════════════════════════════════════════════════╝
    mode: '0644'

- name: Enable SSH banner
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Banner'
    line: 'Banner /etc/issue.net'
    validate: '/usr/sbin/sshd -t -f %s'
  notify: restart sshd

- name: Configure audit rules
  copy:
    dest: /etc/audit/rules.d/stig.rules
    content: |
      -D
      -b 8192
      -f 2
      -w /etc/group -p wa -k identity
      -w /etc/passwd -p wa -k identity
      -w /etc/shadow -p wa -k identity
      -w /usr/bin/sudo -p x -k privileged
    mode: '0640'
  notify: reload auditd

- name: Disable core dumps
  sysctl:
    name: fs.suid_dumpable
    value: '0'
    state: present
    reload: yes

- name: Enable ASLR
  sysctl:
    name: kernel.randomize_va_space
    value: '2'
    state: present
    reload: yes
